:root{
    --renk-baslik: rgb(240, 146, 32);
    --city-font-color:#ffe978;
    --degree-font-color: rgb(240, 146, 32);

    --baslik-font-size: 50px;
    --search-font-size: 20px;
    --city-font-size:64px;
    --degree-font-size: 96px;
    --status-font-size: 30px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
.background{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: absolute;
    z-index: -100;
}
.background .background-image{
    position: relative;
    z-index: -10;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
}
.background .overlay{
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}
.baslik{
    color: var(--renk-baslik);
    font-size: var(--baslik-font-size);
    margin-top: 100px;
    text-align: center;
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.search .search-bar{
    width: 60%;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    font-size:var(--search-font-size);
    border: none;
    outline: none;
}
.result-container{
    position: relative;;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.result-container .city{
    font-size: var(--city-font-size);
    color: var(--city-font-color);
    
}
.result-container .detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.result-container .degree{
    font-size: var(--degree-font-size);
    color: var(--degree-font-color);
    font-weight: bold;
}
.result-container .status{
    font-size: var(--status-font-size);
    color: var(--city-font-color);
}

@media screen and (min-width: 950px) {
    .search .search-bar{
        width: 50%;
    }
}